<html>

<head>
  <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
  <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
</head>

<body>
  <a-scene embedded artoolkit='sourceType: webcam;'>
    <a-marker type="pattern" url="<%= response.pattern %>">
    </a-marker>
    <a-entity camera></a-entity>
  </a-scene>
</body>
<script>
  var marker = document.querySelector('a-marker');
  // Objects
    //Checks if the objects are present
  <% if(response.objects[0].obj != "No-obj"){ %>
    <% for(var key in response.objects) { %>
    var entity = document.createElement('a-entity');
    entity.setAttribute('geometry', {
      primitive: '<%= response.objects[key].obj %>'
    });
    entity.setAttribute('material', {
      color: '<%= response.objects[key].color %>',
      opacity: <%= response.objects[key].opacity %>,
    });
    entity.setAttribute('position', "<%= response.objects[key].pos %>");
    entity.setAttribute('scale', "<%= response.objects[key].scale %>");
    entity.setAttribute('rotation', "<%= response.objects[key].rotate %>");
    entity.setAttribute('id', "obj-id");
    <% if(response.objects[key].animate!= "No-Animation") { %>
      var animation = document.createElement('a-animation');
      animation.setAttribute('attribute',"<%= response.objects[key].animate %>");
      animation.setAttribute('dur',"5000");
      animation.setAttribute('to',"<%= response.objects[key].to %>");
      animation.setAttribute('repeat',"indefinite");
      entity.appendChild(animation);
    <% } %>
    marker.appendChild(entity);
    <% } %>
  <% } %>
  //Images
    //Checks if the image is present
  <% if(response.imgUrl != "No-img") { %>
  var entity = document.createElement('a-entity');
  entity.setAttribute('geometry', {
    primitive: 'plane'
  });
  entity.setAttribute('material', {
    src: '<%= response.imgUrl %>',
    side: 'double'
  });
  entity.setAttribute('position', "0 0.4 0");
  entity.setAttribute('rotation', "-90 0 0");
  marker.appendChild(entity);
  <% } %>
  //Videos
    //Checks if the video iss present
  <% if(response.videoUrl != "No-video") { %>
  var entity = document.createElement('a-entity');
  entity.setAttribute('geometry', {
    primitive: 'plane'
  });
  entity.setAttribute('material', {
    src: '<%= response.videoUrl %>',
    side: 'double'
  });
  entity.setAttribute('position', "0 0.4 0");
  entity.setAttribute('rotation', "-90 0 0");
  marker.appendChild(entity);
  <% } %>
</script>

</html>
